@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jura:wght@300..700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2D2D2D;
    color: #F2F2F2;
    font-family: "Jura", sans-serif;
}

/* NAVIGATION */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    font-size: 2rem;
    
}

header a {
    font-family: "Jaro", sans-serif;
}

nav {
    display: flex;
    gap: 2rem;
    
    
}

nav button {
    border: none;
    background-color: transparent;
    font-family: "Jura", sans-serif;
    color: #F2F2F2;
}

header a span, h1 {
    color: #0DCAF0;
}

/* HOME PAGE */
#content {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 100vw;
    height: 80vh;
    padding: 0 8rem;
    overflow: hidden;
}


#content .hero-text {
    margin-top: 16vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
}

.slogan h1 {
    font-family: "Jaro", sans-serif;
    letter-spacing: 3px;
    font-size: 3.5rem;
}

.slogan p {
    font-size: 1.5rem;
}

.hero-text button {
    width: 12rem;
    height: 8vh;
    background-color: #0DCAF0;
    border: none;
    border-radius: .5rem;
    font-family: "Jaro", sans-serif;
    color: #F2F2F2;
    font-size: x-large;
    -webkit-text-stroke: 1px #2D2D2D;
    
}

#content .hero-img {
    width: 50%;
    
}


.hero-img img {
    width: 80%;
    float: right;
    margin-right: -4rem;
}

.hero-footer-vector {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
}

.hero-footer-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



